<h1>heee</h1>
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == user_signed_in? %>
    <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
</div>
<% @books.each do |book| %>
<% end %>